.question {
  height: auto;
  display: flex;
  // align-items: center;
  justify-content: start;
  padding-left: 13%;
  width: 100%;

  .container {
    // border: 1px solid white;
    border-radius: 10px;
    width: 85%;
    height: auto;
    display: flex;
    overflow: hidden;
    box-shadow: 2px 2px 5px #2f2d52;

    .sidebar {

      flex: 1;
      height: auto;
      background-color: #3e3c61;

      position: relative;

      .navbar {
        display: flex;
        align-items: center;
        background-color: #2f2d52;
        height: 50px;
        padding: 10px;
        justify-content: center;
        color: #ddddf7;

        .logo {
          font-weight: bold;
        }

        .user {
          display: flex;
          gap: 10px;

          img {
            background-color: #ddddf7;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }

          // button {
          //   background-color: #5d5b8d;
          //   color: #ddddf7;
          //   font-size: 10px;
          //   border: none;
          //   cursor: pointer;
          // }
        }
      }
      .say {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .select {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        gap: 8px;
      }
    }
  }
}
.search {
  border-bottom: 1px solid gray;

  .searchForm {
    padding: 10px;

    input {
      background-color: transparent;
      border: none;
      color: white;
      outline: none;

      &::placeholder {
        color: lightgray;
      }
    }
  }
}

.chat {
  flex: 2;
  height: auto;


  .chatInfo {
    height: 50px;
    background-color: #5e5b8e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;

    .chatbtn {
      padding: 6px;

      color: white;

      cursor: pointer;

      // &:hover {
      //   filter: brightness(70%);
      // }
    }
  }
  .messages {
    background-color: white;
    padding: 35px;
    height: calc(100%-50);

    .message {
      display: flex;
      gap: 20px;
      margin-bottom: 50px;

      .messageInfo {
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .messageContent {
        width: fit-content;

        p {
          background-color: #e1e3e7;
          padding: 10px 20px;
          border-radius: 0px 10px 10px 10px;
          
        }
      }
      .messageOwner {
        float: right;
        p {
          background-color: #8da4f1;
          color: white;
          padding: 10px 20px;
          border-radius: 10px 0px 10px 10px;
        }
      }
    }
  }
  .input {
    height: 50px;
    background-color: #f0f2f4;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background-color: #f0f2f4;
      color: #2f2d52;
      font-size: 15px;

      &::placeholder {
        color: #a4acb3;
      }
    }

    .send {
      // display: flex;
      // align-items: center;
      // gap: 10px;

      button {
        border: none;
        padding: 7px 12px;
        color: white;
        background-color: #8da4f1;
      }
    }
  }
}
